{% extends "layout.html" %}


{% block content %}
{% for entry in entry %}
<div class="entry-list single">
    <article>
        <h1>{{ entry.entry_title }}</h1>
        <time datetime="{{ entry.entry_date.strftime('%Y-%m-%d') }}">{{ entry.entry_date.strftime('%B %d, %Y') }}</time>
        <div class="entry">
            <h3>Time Spent: </h3>
            <p>{{ entry.time_spent }} Hours</p>
        </div>
        <div class="entry">
            <h3>What I Learned:</h3>
            <p>{{ entry.what_you_learned }}</p>
        </div>
        <div class="entry">
            <h3>Resources to Remember:</h3>
            <ul>
                <li>{{ entry.resources_to_remember }}</li>
            </ul>
        </div>
    </article>
</div>
<div class="edit">
    <p><a href="{{ url_for('edit', entry_id=entry.entry_id) }}">Edit Entry</a></p>
    <p><a href="{{ url_for('delete', entry_id=entry.entry_id) }}">Delete Entry</a></p>
</div>
{% endfor %}
{% endblock %}
